<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="mat-elevation-z24">
  <h1><span class="light">SUPER</span>LOGO</h1>
  <span class="spacer"></span>
  <a mat-button [routerLink]="['home']" routerLinkActive="active">HOME</a>
  <a mat-button [routerLink]="['about']" routerLinkActive="active">ABOUT</a>
  <a mat-button [routerLink]="['login']" routerLinkActive="active">LOGIN</a>
</mat-toolbar>

<router-outlet></router-outlet>

<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="true"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
    
  </agm-marker>

</agm-map>